test/* linguist-vendored
examples/* linguist-vendored
docs/* linguist-vendored
perf_tests/* linguist-vendored
test/ linguist-vendored
examples/ linguist-vendored
docs/ linguist-vendored
perf_tests/ linguist-vendored

